.parallax {
  /* The image used */
  background-image: url("https://indiaeducationdiary.in/wp-content/uploads/2022/07/goethe-uni.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxOverlay {
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}

.parallax1 {
  /* The image used */
  background-image: url("https://indiaeducationdiary.in/wp-content/uploads/2022/07/goethe-uni.jpg");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxOverlay1 {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}

.parallax2 {
  /* The image used */
  background-image: url("https://indiaeducationdiary.in/wp-content/uploads/2022/07/goethe-uni.jpg");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxOverlay2 {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.8);
}

.img_SE img {
  width: 400px;
  top: -540px;
  left: 6%;
  position: relative;
  box-shadow: 2px 3px 10px #c5c0c0;
  border-radius: 50%;
}

.paraSE {
  color: rgb(115, 102, 75);
  top: -790px;
  left: 40%;
  position: relative;
  width: 50%;
  font-size: 2px;
}

blockquote {
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: -30px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 14px;
}

blockquote:before {
  content: "\201C"; /* Use the large open-quote character */
  font-weight: bold;
  font-size: 48px; /* Adjust the font size as needed */
  color: rgb(242, 168, 8);
}

blockquote:after {
  content: "\201D"; /* Use the large close-quote character */
  font-weight: bold;
  font-size: 48px; /* Adjust the font size as needed */
  color: rgb(242, 168, 8);
}

.requirement {
  width: 80%;
  margin: 0 auto;
  font-size: 17px;
}

table,
td,
th {
  border: 1px solid;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: rgb(242, 168, 8);
}

.timetable {
  color: white;
  font-size: 16px;
  line-height: 2;
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.timetable h3 {
  text-align: center;
}

.timetable_img {
  width: 90%;
  margin: 0 auto;
}

.timetable_img h3 {
  color: white;
  text-align: center;
  padding-top: 60px;
  font-size: 1.5rem;
}

/*Ipad*/
@media screen and (max-width: 900px) {
  .img_SE img {
    width: 250px;
    top: -280px;
  }
  .paraSE {
    top: -490px;
  }
  .paraSE h3 {
    font-size: 9px;
    line-height: 2;
  }

  .requirement{
    font-size: 13px;
    padding-top: 10px
}
  }

  .parallaxOverlay {
    height: 450px;
  }

  .parallax {
    min-height: 450px;
  }

  .parallaxOverlay2 {
    height: 750px;
  }

  .parallax2 {
    min-height: 750px;
  }

  .timetable_img {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .timetable_img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .timetable_img {
    display: block;
  }

  .timetable {
    display: none;
  }

  .requirement {
    font-size: 11px;
  }

  .parallaxOverlay2 {
    height: 550px;
  }

  .parallax2 {
    min-height: 550px;
  }

  .timetable_img h3 {
    padding-top: 25px;
    font-size: 1rem;
  }

  .paraSE {
    color: rgb(115, 102, 75);
    left: 40%;
    position: relative;
    width: 100%;
    font-size: 11px;
    z-index: 990;
    color: white;
    transform: translate(-40%, 210%);
  }

  .cover_img img {
    display: none;
  }

  .img_SE img {
    transform: translate(15%, 120%);
  }
}
