.parallax {
  /* The image used */
  background-image: url("https://scontent.fbkk5-4.fna.fbcdn.net/v/t39.30808-6/327274039_461567732699848_2121112312183412165_n.jpg?stp=dst-jpg_p960x960&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEa0bzTI9hm42ac4sEYqeaz9xhQf0fubQ33GFB_R-5tDZlX-TfSjsdjfDlpzxA9Bs3OiCJn6hVRyRUkhgfbpIcY&_nc_ohc=RiCnLEbDshIAX_GOhiP&_nc_ht=scontent.fbkk5-4.fna&oh=00_AfAoMLeSw9wWjf4iwrJ6XV9qtOEpQbBusrcmPT8ewl8Rkg&oe=652E3E30");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxOverlay {
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}

.parallax1 {
  /* The image used */
  background-image: url("https://scontent.fbkk5-4.fna.fbcdn.net/v/t39.30808-6/327274039_461567732699848_2121112312183412165_n.jpg?stp=dst-jpg_p960x960&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEa0bzTI9hm42ac4sEYqeaz9xhQf0fubQ33GFB_R-5tDZlX-TfSjsdjfDlpzxA9Bs3OiCJn6hVRyRUkhgfbpIcY&_nc_ohc=RiCnLEbDshIAX_GOhiP&_nc_ht=scontent.fbkk5-4.fna&oh=00_AfAoMLeSw9wWjf4iwrJ6XV9qtOEpQbBusrcmPT8ewl8Rkg&oe=652E3E30");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("https://scontent.fbkk5-4.fna.fbcdn.net/v/t39.30808-6/327274039_461567732699848_2121112312183412165_n.jpg?stp=dst-jpg_p960x960&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEa0bzTI9hm42ac4sEYqeaz9xhQf0fubQ33GFB_R-5tDZlX-TfSjsdjfDlpzxA9Bs3OiCJn6hVRyRUkhgfbpIcY&_nc_ohc=RiCnLEbDshIAX_GOhiP&_nc_ht=scontent.fbkk5-4.fna&oh=00_AfAoMLeSw9wWjf4iwrJ6XV9qtOEpQbBusrcmPT8ewl8Rkg&oe=652E3E30");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_SE img {
  width: 400px;
  top: -540px;
  left: 6%;
  position: relative;
  box-shadow: 2px 3px 10px #c5c0c0;
  border-radius: 50%;
}
