.img_overlay {
  width: 100%;
  height: 57vh;
  background: linear-gradient(
      90deg,
      rgba(11, 11, 10, 0.6),
      rgba(10, 10, 9, 0.6)
    ),
    url("https://www.kmitl.ac.th/sites/default/files/styles/cover_image/public/2022-08/Sattawat1_1.jpg?itok=Z5Bu_jeq");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
}

p{
    color: white;
    line-height: 2;
}

h1{
    color: white;
}

hr{
    width: 60%;
}
.center p{
    margin-top: 25px;
}
.center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 0.2em;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 200px;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

