.curriculum {
  width: 80%;
   margin: 0 auto;
}

.content {
  padding-top: 40px; 
}

p{
  text-align: justify;
}

.content img{
  width:100%;
}


.SEyearcontainer{
  width: 80%;
  margin: 0 auto;

}

.SEyearcontainer img{
  width:400px;
}
.part{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.middle h3{
  font-size: 20px;
}

.middle p, li{
  font-size: 15px;
}
.heading{
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  width: 20%;
  border-bottom: 2px solid rgb(242, 168, 8);
}

@media screen and (max-width: 700px) {
  .part{
    display: block;
  }
  .SEyearcontainer img{
  width:150px;


}
.heading{
  
  border-bottom: 2px solid rgb(242, 168, 8);
  font-size: 10px;
}
.content h1{
  font-size: 15px;
}
.heading{
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  width: 50%;
  border-bottom: 2px solid rgb(242, 168, 8);
}
}

@media screen and (min-width: 700px) and (max-width: 1080px) {
  .part{
    display: block;
  }
  .heading{
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  width: 50%;
  border-bottom: 2px solid rgb(242, 168, 8);
}

}

